{% extends 'todo/base.html' %}

{% block content %}
<div class="starter-template">
  <h1>Список тасков</h1>
  <p class="lead">
    {% for task in tasks %}
    <ul>
      <li>
        <a class="title {% if task.is_completed %}crossed_out{% endif %}" href="{% url 'task_info' pk=task.pk %}">{{ task.title }}</a>
        <div class="buttons">
          {% if not task.is_completed %}
            <a class="btn btn-default" href=""><span class="glyphicon glyphicon-ok"></span></a>
          {% endif %}
          <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default" href="{% url 'task_remove' pk=task.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </li>
    </ul>
    {% endfor %}
  </p>
</div>
{% endblock %}

