{% extends 'todo/base.html' %}

{% block content %}

    <div class="container">

      <div class="starter-template">
        <h1>{{ task.title }}
          <div class="buttons">
            {% if user.is_authenticated %}
              {% if not task.is_completed %}
              <a class="btn btn-default" href="{% url 'task_completed' pk=task.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
              {% endif %}
              <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'task_remove' pk=task.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
          </div>
        </h1>
        <table>   
          <tr>        
            <td>Created at:</td> 
            <td>{{ task.created_date }}</td>
          </tr>
          <tr>
            <td>Due date:</td> 
            <td>{{ task.due_date }}</rd>
          </tr>
        </table>
        <p>Reminders:
          <ul>
            <li>15 min before due date</li>
            <li>1 hour before due date</li>
          </ul>
        </p>
      </div>  
    </div><!-- /.container -->

{% endblock %}
