h1 {
    color: #BD0EED;
}

body {
    padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.buttons {
    float: right; 
    width: 70%;
}

.title {
    font-size: 18pt;
}

table {
    width: 25%;
}

th, td {
    padding-bottom: 20px;
    padding-right: 20px;
}

.crossed_out {
    text-decoration: line-through;
}
